CompileFlags:
  Add:
    - "-x"
    - "c"

    - "-std=c17"

    - "--target=wasm32-unknown-emscripten"

    - "-I/Users/kretts/FunStuff/c/emsdk/upstream/emscripten/cache/sysroot/include"
    - "-I/Users/kretts/FunStuff/c/emsdk/upstream/emscripten/cache/sysroot/include/libc"

    - "-I/Users/kretts/FunStuff/c/emsdk/upstream/lib/clang/21/include"
